BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 140
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: true
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: Never
